// - - - - - - - - - - - - - - - - - - -
// - - sidebar module
// styles for the sidebar module


.sidebar-menu {
  position: fixed;
  background-color: darken($body-bg, 10%);
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: $navbar-height;
  z-index: 1029;
  > .overflow {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  ~ .main {
    padding-left: 300px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .sidebar-menu {
    left: -300px;
    ~ .main {
      padding-left: 0;
    }
  }
}
